= content_for :title, :title.t(:scope => [:admin, :welcome, :index])

%h1= :h1.t(:scope => [:admin, :welcome, :index])
%h2= :welcome_message.t(:scope => [:admin, :welcome, :index])%[current_user.name]

