.gallery-image-container
  %p
    %img.gallery-item

  %p.gallery-item-title
    = defined?(item) ? item.title : :add_title.t(scope: [:admin, :forms, :gallery])

  %p.gallery-item-slug
    = defined?(item) ? item.slug : :add_slug.t(scope: [:admin, :forms, :gallery])

  .gallery-image-commands
    %a{href: '#'}
      %span.glyphicon.glyphicon-remove{'aria-hidden' => true}
      = :remove.t(scope: [:admin, :forms, :gallery])
  .gallery-image-metadata{style: 'display:none;'}


