.well
  .btn-toolbar{role: "toolbar"}
  
    - unless in_action?('new')
      .btn-group
        = menu_button(:new.t(:scope => [:admin, :api_keys, :menu]), new_admin_api_key_path, 'btn-primary')
  
    - unless in_action?('index')
      .btn-group
        = menu_button(:list.t(:scope => [:admin, :api_keys, :menu]), admin_api_keys_path, 'btn-default')

    - if in_action?('edit')
      .btn-group
        = menu_button(:destroy.t(:scope => [:admin, :api_keys, :menu]), admin_api_key_path(params[:id]), 'btn-danger', {method: 'delete', data:{confirm: :confirm.t(:scope => [:admin, :api_keys, :destroy])}})


  
