.btn-toolbar{role: "toolbar"}

  - unless in_action?('new')
    .btn-group
      = menu_button(:new.t(:scope => [:admin, :assets, :menu]), new_admin_asset_path, 'btn-primary')

  - unless in_action?('index')
    .btn-group
      = menu_button(:list.t(:scope => [:admin, :assets, :menu]), admin_assets_path, 'btn-default')

  - if in_action?('edit')
    .btn-group
      = menu_button(:destroy.t(:scope => [:admin, :assets, :menu]), admin_asset_path(params[:id]), 'btn-danger', {method: 'delete', data:{confirm: :confirm.t(:scope => [:admin, :assets, :destroy])}})



