
*~
*.swp
.dropbox.attr

/.bundle

.vagrant
cookbooks

/db/*.sqlite3
/db/*.sqlite3-journal

*.log
/log/*.log
/tmp

/config/database.yml
/config/mongoid.yml
/config/redis.yml

/config/deploy/ragnarok.rb

/coverage

/public/uploads
/uploads

/themes

