!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 404 Not Found
  %body{:bgcolor => "white"}
    %center
      %h1 404 Not Found
    %hr/
    %center nginx
