.col-md-3.visible-lg.visible-md
  .primary-sidebar.info.sidebar
    #search-2.widget.widget_search
      %form.search-form{:action => search_path, :method => "get", :role => "search"}
        %label
          %span.screen-reader-text Buscar por:
          %input.search-field{:name => "s", :placeholder => "Search ...", :title => "Search for:", :type => "search", :value => params[:s]}/
        %input.search-submit{:type => "submit", :value => "Search"}/

    - if @icon_list && !@icon_list.icons.blank?
      #widget-1.widget.widget_icons
        %ul.icon-list
          - @icon_list.icons.each do |icon|
            %li.icon
              = link_to image_tag(icon.icon), icon.url, {target: '_blank'}
        .clear

    - if @link_list && @link_list.links.blank?
      #widget-1.widget.widget_links
        %h4.widget-title= @link_list.title
        %ul
          - @link_list.links.each do |link|
            %li.cat-item
              = link_to link.description, link.url, {target: '_blank'}

    #recent-posts-2.widget.widget_recent_entries
      %h4.widget-title Últimos Artigos
      %ul
        - posts = Post.publisheds.order([['published_at', 'desc']])
        - if feature_enabled? 'multiple_domains'
          - posts = posts.filter_by_domain(request.host)
        - posts.limit(5).each do |post|
          %li
            = link_to post.title, post_path(post.date, post.slug).gsub('%2F', '/')

