- content_for(:title, @page.title)

- unless @page.external_js.blank?
  - content_for(:javascript) do
    = javascript_include_tag @page.external_js

- unless @page.external_css.blank?
  - content_for(:stylesheet) do
    = stylesheet_link_tag @page.external_css

.page.type-page.status-publish.hentry.row.post-roll
  .col-md-2
  .post.col-md-8
    %h1.entry-title{'data-preview-attribute' => 'page_title'}= @page.title
    .entry{'data-preview-attribute' => 'page_body'}
      = raw(@page.body.from_markdown_to_html)

