/* image select */
div.image-select-content {
  width: 100px;
  height: 100px;
  background-color: gray;
  cursor: pointer;
}

#list-images {
  list-style: none;
}

#list-images img {
  cursor: pointer;
}

