#upload { 
  text-align: center;
  padding: 15px;
}

#image-upload-area { 
  background-color: #eee;
  color: #aaa; 
  width: 100%;
  height: 200px; 
  padding: 15%;
  overflow:hidden; 
  border: 1px solid #eee; 
}

#image-upload-area.hover { 
  border: 1px solid #66afe9 !important; 
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233,
  0.6);
}

.gallery-item {
  margin: 5px;
}

.gallery-image-container {
  float: left;
  margin: 10px;
  background-color: #eee;
  border: 1px solid #aaa;
}

.gallery-image-container-ghost {
  width: 100px;
}

.gallery-image-commands a {
  margin: 10px;
  float: right;
}

.gallery-image-commands .glyphicon-remove {
  color: red;
}

