.well
  .btn-toolbar{role: "toolbar"}
  
    - unless in_action?('new')
      .btn-group
        = menu_button(:new.t(:scope => [:admin, :posts, :menu]), new_admin_post_path, 'btn-primary')
  
    - unless in_action?('index')
      .btn-group
        = menu_button(:list.t(:scope => [:admin, :posts, :menu]), admin_posts_path, 'btn-default')

  
