= content_for :title, :title.t(:scope => [:admin, :posts, :new])

.row
  .span12
    .widget
      .widget-content
        %h1= :h1.t(:scope => [:admin, :posts, :new])
        = render 'menu'
        
= render 'form'

