= content_for :title, :title.t(:scope => [:admin, :settings, :index])

%h1= :h1.t(:scope => [:admin, :settings, :index])

- @settings.each do |category, settings|
  %h2= category
  - settings.each do |setting|
    = setting.title

