.btn-toolbar{role: "toolbar"}

  - unless in_action?('new')
    .btn-group
      = menu_button(:new.t(:scope => [:admin, :images, :menu]), new_admin_image_path, 'btn-primary')

  - unless in_action?('index')
    .btn-group
      = menu_button(:list.t(:scope => [:admin, :images, :menu]), admin_images_path, 'btn-default')

  - if in_action?('edit')
    .btn-group
      = menu_button(:destroy.t(:scope => [:admin, :images, :menu]), admin_image_path(params[:id]), 'btn-danger', {method: 'delete', data:{confirm: :confirm.t(:scope => [:admin, :images, :destroy])}})



