= content_for :title, :title.t(:scope => [:admin, :images, :edit])

.row
  .span12
    .widget
      .widget-content
        %h1= :h1.t(:scope => [:admin, :images, :edit])
        = render 'menu'

= render 'form'

