= semantic_form_for([:admin, @menu]) do |f|

  .row
    .col-md-8
      = f.inputs :title, :group, :link, :position

    .col-md-4
      .well
        = f.action :submit, :button_html => { :class => "btn btn-primary", :disable_with => '...' }
        = f.action :cancel, :button_html => { :class => "btn btn-danger", :disable_with => '...' }

