.well
  %ul
    %li
      %label
        Headers
      %p
        \#H1
      %p
        \###H3
    %li
      %label
        Links
      %p
        [value](link "title")
    %li
      %label
        Emphasis 
      %p
        _value_ - em
      %p
        __value__ - strong

    %li
      %label
        Codes
      %p
        Use tabs or 4 spaces

    %li
      %label
        Image
      %p
        ![Alt text](/path/to/img.jpg "Optional title")

