#dialog.modal.fade{tabindex: "-1", role: "dialog", 'aria-labelledby' => "dialog", 'aria-hidden' => "true"}
  .modal-dialog
    .modal-content

      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => 'true'}
            &times;
        %h4.modal-title.dialog-title
          Modal Title

      .modal-body.dialog-body

      .modal-footer
        %button.dialog-cancel.btn.btn-default{type: 'button', 'data-dismiss' => 'modal'}
          Close
        %button.dialog-ok.btn.btn-primary{type: 'button'}
          Save changes

