.spellchecker.well{data:{field: field}}
  %strong.spellchecker-title
    Spellchecker

  .spellchecker-navigation
    %strong.spellchecker-current
      0
    %strong.spellchecker-separator
      = '/'
    %strong.spellchecker-total
      0

  .spellchecker-content
    %input.spellchecker-word{value: ''}

    .spellchecker-commands
      %button.spellchecker-add.btn
        Adicionar
      %button.spellchecker-ignore.btn
        Ignorar
      %button.spellchecker-change.btn
        Trocar

