#spellchecker.well
  %strong.spellchecker-title
    Spellchecker

  #spellchecker-navigation
    %strong.spellchecker-current
      0
    %strong.spellchecker-separator
      = '/'
    %strong.spellchecker-total
      0

  #spellchecker-content
    %input#spellchecker-word{value: 'palavra'}

    #spellchecker-commands
      %button.btn
        Adicionar
      %button#spellchecker-ignore.btn
        Ignorar
      %button.btn
        Trocar

