!!!
%html{:lang => "pt-br"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "../../assets/ico/favicon.ico", :rel => "shortcut icon"}/
    %title= "#{yield(:title)} | Independent Admin"

    = stylesheet_link_tag 'admin', media: 'all'

  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{:href => "#"} Independent
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{class: set_active('welcome')}
              %a{:href => admin_root_path} Home
            %li{class: set_active('posts')}
              %a{:href => admin_posts_path} Posts
        / /.nav-collapse
    .container
      .starter-template
        = yield
    / /.container
